<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007922913995-k3m9nobh926hjco63mu6hd7eti6dtbnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007922913995-k3m9nobh926hjco63mu6hd7eti6dtbnk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007922913995-kigl1t6do6fvmmqrstf47im51lq535b5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4atnCy-N67-y9nh_AQ2Bn96zwUIEO7mU</string>
	<key>GCM_SENDER_ID</key>
	<string>1007922913995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pet.careproject</string>
	<key>PROJECT_ID</key>
	<string>petcare-fd130</string>
	<key>STORAGE_BUCKET</key>
	<string>petcare-fd130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007922913995:ios:4784718404a34307be714e</string>
</dict>
</plist>